@import 'social-btn';

#landing {
    background-color: $background-colour;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

    h1, h2 {
        text-shadow: 1.5px 2.5px rgba(0,0,0,0.3);
    }

    #title-box {
        text-align: center;
        margin: auto;
        color: $soft-white;
    }

    ul {
        margin-top: 0.75em;
    }
}