#Experience {
  background-color: #ECEFF4;
  color: #2E3440;
  margin-bottom: -1rem;
}

.SectionTitle {
  margin: 0;
  padding-top: 2rem;
  font-size: 4rem;
}

.FilterControl {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 0rem;
  font-size: calc(20px + 0.6vw);
}

.FilterButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 2rem;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FilterButton::after {
  content: attr(data-text);
  content: attr(data-text)/"";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  font-weight: 700;
}

.FilterControl button:hover, .FilterControl button:focus, .FilterControl .active {
  text-decoration: underline;
  outline: none;
  font-weight: 700;
}

.LinksContainer {
  display: flex;
  margin-top: 1rem;
}

.TimelineItemLink {
  margin-right: 0.75rem;
  font-weight: 600;
  padding: 0.4rem 0.5rem;
  text-decoration: none;
}

@media only screen and (max-device-width : 500px) {
  .FilterControl {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .FilterControl button {
    margin: 0;
  }
}

@media speech {
  .FilterButton::after {
    display: none;
  }
}
