#Header {
  display: flex;
  background-color: #2E3440;
  font-size: calc(10px + 2vmin);
  color: #ECEFF4;
  justify-content: center;
  padding: 5rem 3rem 5rem;
}

.ImageContainer {
  padding-right: 6rem;
}

.Image {
  height: 25vmin;
  pointer-events: none;
  border-radius: 50%;
  border: 0.5rem solid #88C0D0;
}

hr {
  display: none;
}

.Summary {
  max-width: 75vmin;
}

.SocialLinks {
  margin-top: 7vh;
  padding: 0;
}

.Social {
  margin: 0 3vh;
  font-size: calc(16px + 3vmin);
  color: #A4A4A4;
  display: inline;
  text-decoration: none;
}

.Social:hover, .Social:focus .Social:active {
  color: #88C0D0;
  cursor: pointer;
  transition: 0.2s;
}

.Social a {
  text-decoration: none;
  color: inherit;
}

#email-link {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}
#email-link:hover span::before, #email-link:focus span::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#email-link span {
  position: relative;
  display: inline-block;
  color: #88C0D0;
}
#email-link span::before {
  position: absolute;
  content: attr(data-content);
  color: #56A5BC;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
  text-decoration: underline;
  -webkit-text-decoration-color: #56A5BC;
          text-decoration-color: #56A5BC;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
}

@media only screen and (max-device-width : 500px) {
  #Header {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .ImageContainer {
    padding: 8rem 0rem 2rem;
  }

  .Image {
    height: 60vw;
  }

  hr {
    display: unset;
    min-width: 75%;
  }
}
