#Header {
  display: flex;
  justify-content: center;
  color: #ECEFF4;
  background-color: #2E3440;
  font-size: calc(10px + 2vmin);
  padding: 5rem 3rem;
}

#Resume {
  position: absolute;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  top: calc(15px + 1.05vmin);
  right: calc(15px + 1.05vmin);
  color: #ECEFF4;
  border: 1px solid #ECEFF4;
  border-radius: 0.25em;
  padding: 0.55rem 1rem;
  transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s, color 200ms ease-in 0s;
}

#Resume:hover, #Resume:focus {
  border-color: #88C0D0;
  color: #88C0D0;
}

.ImageContainer {
  padding-right: 6rem;
}

.Image {
  height: 25vh;
  width: 25vh;
  pointer-events: none;
  border-radius: 50%;
  border: 0.5rem solid #88C0D0;
}

hr {
  display: none;
}

.Summary {
  max-width: 75vmin;
}

.SocialLinks {
  margin-top: 7vh;
  padding: 0;
}

.Social {
  margin: 0 3vh;
  font-size: calc(16px + 3vmin);
  color: #A4A4A4;
  display: inline;
  text-decoration: none;
}

.Social:hover, .Social:focus .Social:active {
  color: #88C0D0;
  cursor: pointer;
  transition: 0.2s;
}

.Social a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-device-width : 500px) {
  #Header {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .ImageContainer {
    padding: 8rem 0rem 2rem;
  }

  .Image {
    height: 60vw;
    width: 60vw;
  }

  hr {
    display: unset;
    min-width: 75%;
  }
}
