#education {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .layer {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        overflow: hidden;

        .content-wrap {
            position: absolute;
            width: 100vw;
            min-height: 100vh;

            .content-body {
                width: 25%;
                position: absolute;
                top: 50%;
                text-align: center;
                transform: translateY(-50%);
            }
        }

        img {
            position: absolute;
            width: 30%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            font-size: 2em;
            line-height: 1.3em;
            margin-bottom: 0.5rem;
        }
    }

    .bottom {
        background: $education-dark-background;
        z-index: 1;

        .content-body {
            right: 5%;
            color: #fff;
        }

        h2 {
            color: $education-secondary-colour;
        }
    }

    .top {
        background: white;
        z-index: 2;
        width: 50vw;
        transform: skew(-30deg);
        margin-left: -1000px;
        width: calc(50vw + 1000px);

        .content-wrap {
            transform: skew(30deg);
            margin-left: 1000px;

            .content-body {
                left: 5%;
                color: $education-dark-background;
            }
        }
    }

    #slider {
        top: 50%;
        transform: rotate(30deg) translateY(-50%);
        transform-origin: top;
        height: 200%;
        position: absolute;
        background-color: $education-secondary-colour;
        width: 5px;
        left: 50%;
        z-index: 3;
    }
}
