#header {
    @include grid-container;
    background-color: $background-colour;
    min-height: 100vh;
    text-shadow: 1.5px 2.5px rgba(0,0,0,0.3);

    #landing-content {
        @include grid-column(1, $landing-grid);
        color: $soft-white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 2.5rem;
        }

        q {
            font-style: italic;
        }

        @include grid-media($landing-grid-phone-up) {
            @include grid-column(7);
            height: 100vh;
            padding: 0;
        }
    }

    #profile-img {
        @include grid-column(1, $landing-grid);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            @include rounded-img;
            width: 100%;
            height: auto;
        }

        @include grid-media($landing-grid-phone-up) {
            @include grid-column(4);
            @include grid-push(0.5);
            height: 100vh;
        }
    }

    @include grid-media($landing-grid-phone-up) {
        // @include grid-visual;
    }

    .fancy-line {
        width: 100%;
    }
}
