.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0;

    &:before {
        top: -0.5em;
        height: 1em;
    }

    &:after {
        height: 0.5em;
        top: calc(-0.5em + 1px);
        background: $soft-white;
    }

    &, &:before {
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0,0,0,0) 75%);
    }
}